doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ระบบจัดการผู้ใช้งาน
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/bootstrap.min.css")
  body
    .container.my-4
      .card.shadow
        .card-body
          block content
    script(src="/bootstrap.bundle.min.js")
